.productAttrForm {
    .mat-form-field {
        display: block !important;
    }
    .productAttrFormBlock {
        display: inline-flex;
    }
    .selectAllAttr {
        position: relative;
        top: 18px;
    }
}