.full-width {
    width: 100%;
}
.toolbar-spacer {
    flex: 1 1 auto;
}
.nb-trash {
    font-size: 42px;
}
.employeesAssociationBlock {
    margin-top: 20px;
}
.empRoleMapForm {
    .ion-plus-circled {
        float: left;
    }
    i {
        cursor: pointer;
    }
}