<nb-card>
    <nb-card-body>
      <mat-horizontal-stepper [linear]="true" labelPosition="bottom" #stepper>
        <!-- Manage Projects Starts Here -->
        <mat-step [stepControl]="manageProjectForm" label="Manage Project" [completed]="viewControl.manageProject">
          <form class="row" [formGroup]="manageProjectForm" (ngSubmit)="initSaveOrUpdate(manageProjectForm.value, stepper)">
            <div class="col-lg-12">
              <div class="row">
                <div class="col-lg-6">
                  <mat-form-field class="full-width">
                    <input matInput placeholder="Project Name *" formControlName="Project_Name" [errorStateMatcher]="matcher">
                    <mat-error *ngIf="manageProjectForm.get('Project_Name').invalid">Please enter only alphanumeric</mat-error>
                  </mat-form-field>
                </div>
                <div class="col-lg-6">
                  <mat-form-field class="full-width">
                    <mat-select class="full-width"formControlName="Bv_Code" placeholder="Business Vertical *">
                      <mat-option *ngFor='let bv of businessVerticalList' [value]="bv.BV_Code">
                        {{ bv.BV_Name }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
            </div>
            <div class="col-lg-12">
              <div class="row">
                <div class="col-lg-6">
                  <mat-form-field class="full-width">
                    <mat-select class="full-width" formControlName="Sdlc_Method_Code" placeholder="SDLC Method *" (selectionChange)="initProjectLevelListBySDLSMethod($event.value)">
                      <mat-option *ngFor='let sdlc of sdlcMethodList' [value]="sdlc.KeyValue_Val_Cd">
                        {{ sdlc.KeyValue_Desc }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-lg-6">
                  <mat-form-field class="full-width">
                    <mat-select class="full-width" formControlName="Project_Level_code" placeholder="Project Level *">
                      <mat-option *ngFor='let proLevel of projectLevelList' [value]="proLevel.KeyValue_Val_Cd">
                        {{ proLevel.KeyValue_Desc }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
            </div>
            <div class="col-lg-12">
              <div class="row">
                <div class="col-lg-6">
                  <mat-form-field class="full-width">
                    <mat-select class="full-width" formControlName="ParentProject_Code" (selectionChange)="initParentProjectChange($event.value)" placeholder="Parent Project Name">
                      <mat-option *ngFor='let project of projectsList' [value]="project.Project_Code">
                        {{ project.Project_Name }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-lg-6">
                  <mat-form-field class="full-width">
                    <input matInput placeholder="Parent Project Status" formControlName="ParentProject_Status">
                  </mat-form-field>
                </div>
              </div>
            </div>
            <div class="col-lg-12">
              <div class="row">
                <div class="col-lg-6">
                  <mat-form-field class="full-width">
                    <input matInput placeholder="Main Project Name" formControlName="MainProject_Name" [errorStateMatcher]="matcher">
                  </mat-form-field>
                </div>
                <div class="col-lg-6">
                  <mat-form-field class="full-width">
                    <input matInput placeholder="Main Project Code" formControlName="MainProject_Code" [errorStateMatcher]="matcher">
                  </mat-form-field>
                </div>
              </div>
            </div>
            <div class="col-lg-12">
              <mat-form-field class="full-width">
                <textarea matInput placeholder="Project Description" id="Desc" formControlName="Project_Description" matTextareaAutosize
                  matAutosizeMinRows="3" matAutosizeMaxRows="5" [errorStateMatcher]="matcher"></textarea>
              </mat-form-field>
            </div>
            <div class="col-lg-12">
              <div class="row">
                <div class="col-lg-6">
                  <mat-form-field class="full-width">
                    <mat-select class="full-width" formControlName="Project_Status" placeholder="Project Status *" (change)="selectEmployees();">
                      <mat-option *ngFor='let proStat of projectStatusList' [value]="proStat.KeyValue_Val_Cd" [disabled]="disableListOptions(proStat.KeyValue_Val_Cd)">
                        {{ proStat.KeyValue_Desc }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-lg-6">
                  <mat-form-field class="full-width">
                    <mat-select class="full-width" formControlName="Project_Type_Code" placeholder="Project Type *">
                      <mat-option *ngFor='let proType of projectTypeList' [value]="proType.KeyValue_Val_Cd">
                        {{ proType.KeyValue_Desc }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
            </div>
            <div class="col-lg-12">
              <div class="row">
                <div class="col-lg-6">
                  <mat-form-field class="full-width">
                    <mat-select class="full-width" formControlName="Defect_Mgmt_Tool_Code" placeholder="Defect Management Tool *">
                      <mat-option *ngFor='let defectMan of defectManagementToolList' [value]="defectMan.KeyValue_Val_Cd">
                        {{ defectMan.KeyValue_Desc }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-lg-6">
                  <mat-form-field class="full-width">
                    <mat-select class="full-width" formControlName="AutoExec_Test_Tool" placeholder="Auto Execution Tool *">
                      <mat-option *ngFor='let autoExec of autoExecutionToolList' [value]="autoExec.KeyValue_Val_Cd">
                        {{ autoExec.KeyValue_Desc }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
            </div>
            <div class="col-lg-12">
              <div class="row">
                <div class="col-lg-6">
                  <mat-form-field class="full-width">
                    <mat-select class="full-width" formControlName="Project_Status_Indicator" placeholder="Project Status Indicator *">
                      <mat-option *ngFor='let proStatInd of projectStatusIndicatorList' [value]="proStatInd.KeyValue_Val_Cd">
                        {{ proStatInd.KeyValue_Desc }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-lg-6 ">
                  <mat-form-field class="full-width">
                    <mat-select class="full-width" formControlName="ReviewedBy" placeholder="Assign to *" [errorStateMatcher]="matcher" multiple>
                      <mat-option *ngFor="let empCode of employeesList" [value]="empCode.emp_Code">
                        {{ empCode.emp_First_Name + ' ' + empCode.emp_Last_Name }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
            </div>
            <div class="col-lg-12">
              <div class="row">
                <div class="col-lg-6">
                  <mat-form-field class="full-width">
                    <input matInput formControlName="Project_Plan_Start_Date" [matDatepicker]="PlanStartDatePicker" placeholder="Project Planned Start Date *">
                    <mat-datepicker-toggle matSuffix *ngIf="viewType !== 'view'" [for]="PlanStartDatePicker">
                    </mat-datepicker-toggle>
                    <mat-datepicker #PlanStartDatePicker></mat-datepicker>
                  </mat-form-field>
                </div>
                <div class="col-lg-6">
                  <mat-form-field class="full-width">
                    <input matInput formControlName="Project_Plan_End_Date" [matDatepicker]="PlanEndDatePicker" placeholder="Project Planned End Date *">
                    <mat-datepicker-toggle matSuffix *ngIf="viewType !== 'view'" [for]="PlanEndDatePicker">
                    </mat-datepicker-toggle>
                    <mat-datepicker #PlanEndDatePicker></mat-datepicker>
                  </mat-form-field>
                </div>
              </div>
            </div>
            <div class="col-lg-12">
              <div class="row">
                <div class="col-lg-6">
                  <mat-form-field class="full-width">
                    <input matInput formControlName="Project_Actl_Start_Date" [matDatepicker]="ActualStartDatePicker" placeholder="Project Actual Start Date">
                    <mat-datepicker-toggle matSuffix *ngIf="viewType !== 'view'" [for]="ActualStartDatePicker">
                    </mat-datepicker-toggle>
                    <mat-datepicker #ActualStartDatePicker></mat-datepicker>
                  </mat-form-field>
                </div>
                <div class="col-lg-6">
                  <mat-form-field class="full-width">
                    <input matInput formControlName="Project_Actl_End_Date" [matDatepicker]="ActualEndDatePicker" placeholder="Project Actual End Date">
                    <mat-datepicker-toggle matSuffix *ngIf="viewType !== 'view'" [for]="ActualEndDatePicker">
                    </mat-datepicker-toggle>
                    <mat-datepicker #ActualEndDatePicker></mat-datepicker>
                  </mat-form-field>
                </div>
              </div>
            </div>
            <div class="text-center col-lg-12">
              <button nbButton status="danger" class="btn-left mr-1" type="button" (click)="projectSummary()">Cancel</button>
              <button nbButton status="warning" class="btn-left" type="button" [disabled]="true" (click)="resetForm()">Reset</button>
              <button *ngIf="viewType !== 'View'" nbButton class="btn-right" type="submit">Save & Next</button>
              <button *ngIf="viewType === 'View'" nbButton class="btn-right" type="button" (click)="nextStepper(stepper, 'manageProject')">Next</button>
            </div>
          </form>
        </mat-step>
        <!-- Manage Projects Ends Here -->

        <!-- Employee Roles & Responsibility Starts Here -->
        <mat-step [stepControl]="empRoleMapForm" label="Employee Role Map" [completed]="viewControl.employeeRoleMap">
          <form class="row empRoleMapForm" [formGroup]="empRoleMapForm" (ngSubmit)="onEmployeeRoleMapSubmit(empRoleMapForm, stepper)">
            <div class="col-lg-12">
              <div class="row">
                <div class="col-lg-6">
                  <mat-form-field class="full-width">
                    <input matInput placeholder="Project Name" formControlName="Project_Name">
                  </mat-form-field>
                </div>
              </div>
            </div>
            <mat-toolbar>Assign Employees To This Project</mat-toolbar>
            <div class="col-lg-12">
              <div class="row employeesAssociationBlock">
                <div class="col-lg-12">
                  <div formArrayName="ProjectEmpRoleList">
                    <div *ngFor="let controls of empRoleMapForm.controls.ProjectEmpRoleList.controls; let i=index">
                        <div class="row">
                          <div class="col-lg-10">
                            <span [formGroupName]="i">
                              <ngx-project-employee-role-map-list [group]="controls"></ngx-project-employee-role-map-list>
                            </span>
                          </div>
                          <div class="col-lg-2">
                            <i *ngIf="empRoleMapForm.controls.ProjectEmpRoleList.controls.length > 1 && viewType !== 'View'" (click)="removeEmployeeNRoles(i, controls)" class="nb-trash btn-left" title="Delete"></i>
                            <i *ngIf="i + 1 === empRoleMapForm.controls.ProjectEmpRoleList.controls.length && viewType !== 'View'" (click)="addEmployeeNRoles()" class="ion-plus-circled align-right-plus" title="Add"></i>
                          </div>
                        </div>
                    </div>
                  </div>    
                </div>
              </div>
            </div>
            <div class="text-center col-lg-12 mt-3">
              <button nbButton status="danger" class="btn-left mr-1" type="button" (click)="projectSummary()">Cancel</button>
              <button nbButton status="warning" class="btn-left" type="button" [disabled]="true" (click)="resetForm()">Reset</button>
              <button *ngIf="viewType !== 'View'" nbButton class="btn-right" type="submit">Save & Next</button>
              <button *ngIf="viewType === 'View'" nbButton class="btn-right" type="button" (click)="nextStepper(stepper, 'employeeRoleMap')">Next</button>
            </div>
          </form>
        </mat-step>
        <!-- Employee Roles & Responsibility Starts Here -->
        <mat-step [stepControl]="projectScopeForm" label="Project Scope" [completed]="viewControl.projectScope">
          <form class="row" [formGroup]="projectScopeForm" (ngSubmit)="onProjectScopeSubmit(projectScopeForm.value)">
            <div class="col-lg-12">
              <div class="row">
                <div class="col-lg-6">
                  <mat-form-field class="full-width">
                    <input matInput placeholder="Project Name" formControlName="Project_Name">
                  </mat-form-field>
                </div>
              </div>
            </div>
            <div class="col-lg-12">
              <div class="row">
                <ngx-table-view [settings]="requirementsNProductsSettings" [data]="requirementsNProductsData" (action)="onActionMapProduct(stepper, $event)"></ngx-table-view>
              </div>
            </div>
            <div class="text-center col-lg-12">
                <button *ngIf="viewType === 'Create'" nbButton type="submit" class="btn-right">Save & Submit</button>
                <button *ngIf="viewType === 'Edit'" nbButton type="submit" class="btn-right">Save & Update</button>
                <button *ngIf="viewType === 'View'" nbButton type="button" class="btn-right" (click)="nextStepper(stepper, 'projectScope')">Finish</button>
            </div>
          </form>
        </mat-step>
        <mat-step [stepControl]="mapProductsForm" label="Map Products" [completed]="viewControl.mapProducts">
          <form class="row" [formGroup]="mapProductsForm">
            <div class="col-lg-12">
              <div class="row">
                <div class="col-lg-6">
                  <mat-form-field class="full-width">
                    <input matInput placeholder="Project Name" formControlName="Project_Name">
                  </mat-form-field>
                </div>
                <div class="col-lg-6">
                  <mat-form-field class="full-width">
                    <input matInput placeholder="Requirement Name" formControlName="DetRequirement_Name">
                  </mat-form-field>
                </div>
              </div>
            </div>
            <div class="col-lg-12">
              <ngx-table-view [settings]="mapProductSettings" [data]="mapProductData" (action)="onActionMapAttribute(stepper, $event)"></ngx-table-view>
            </div>
            <div class="text-center col-lg-12">
              <button *ngIf="viewType !== 'View'" nbButton type="button" class="btn-right" (click)="prevStepper(stepper, 'projectScope')">Save & Back</button>
              <button *ngIf="viewType === 'View'" nbButton type="button" class="btn-right" (click)="prevStepper(stepper, 'projectScope')">Okay</button>
            </div>
          </form>
        </mat-step>
         <!-- Employee Roles & Responsibility Starts Here -->
         <mat-step [stepControl]="mapAttributesForm" label="Map Attributes" [completed]="viewControl.mapAttributes">
            <form class="row mapAttributesForm" [formGroup]="mapAttributesForm" (ngSubmit)="onMapAttributesSubmit(mapAttributesForm, stepper)">
              <div class="col-lg-12">
                <div class="row">
                  <div class="col-lg-6">
                    <mat-form-field class="full-width">
                      <input matInput placeholder="Project Name" formControlName="Project_Name">
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-6">
                    <mat-form-field class="full-width">
                      <input matInput placeholder="Requirement Name" formControlName="DetRequirement_Name">
                    </mat-form-field>
                  </div>
                  <div class="col-lg-6">
                    <mat-form-field class="full-width">
                      <input matInput placeholder="Product Name" formControlName="Prod_Name">
                    </mat-form-field>
                  </div>
                </div>
              </div>
              <mat-toolbar>Map Attributes</mat-toolbar>
              <div class="col-lg-12">
                <div class="row mapAttributesBlock">
                  <div class="col-lg-12">
                    <div formArrayName="MapProductAttributesList">
                      <div *ngFor="let controls of mapAttributesForm.controls.MapProductAttributesList.controls; let i=index">
                          <div class="row">
                            <div class="col-lg-11">
                              <span [formGroupName]="i">
                                <ngx-map-product-attributes [group]="controls"></ngx-map-product-attributes>
                              </span>
                            </div>
                            <!-- <div class="col-lg-1">
                              <i *ngIf="mapAttributesForm.controls.MapProductAttributesList.controls.length > 1" (click)="removeEmployeeNRoles(i, controls)" class="nb-trash btn-left delete-prod-attr" title="Delete"></i>
                            </div> -->
                          </div>
                      </div>
                    </div>    
                  </div>
                </div>
              </div>
              <div class="text-center col-lg-12 mt-3">
                <button *ngIf="viewType !== 'View'" nbButton class="btn-right" type="submit">Save & Back</button>
                <button *ngIf="viewType === 'View'" nbButton class="btn-right" type="button" (click)="prevStepper(stepper, 'mapProducts')">Okay</button>
              </div>
            </form>
          </mat-step>
      </mat-horizontal-stepper>
    </nb-card-body>
  </nb-card>