.full-width {
    width: 100%;
}
.toolbar-spacer {
    flex: 1 1 auto;
}
.nb-trash {
    font-size: 42px;
}
.employeesAssociationBlock {
    margin-top: 20px;
}
.empRoleMapForm {
    .ion-plus-circled {
        float: left;
    }
    i {
        cursor: pointer;
    }
}

.align-right-plus {
  float: right;
  margin: 0px 0px 0px 12px;
  cursor: pointer;
  color: #4169e1;
  font-size: 32px;
}

.delete-prod-attr {
    font-size: 27px;
    position: relative;
    top: 30px;
    padding: 2px 12px;
}