<nb-card>
  <nb-card-header>
    {{ settings.title }}
    <i *ngIf="settings.isAddNew" (click)="onAddNew()" [nbTooltip]="settings.isAddNew.title" nbTooltipPlacement="bottom" class="ion-plus-circled align-right-add"></i>
    <input #search class="search-input-field" type="text" nbInput shape="semi-round" placeholder="Search..." (keyup)="onSearch(search.value)">
  </nb-card-header>
  <nb-card-body>
    <ng2-smart-table [settings]="settings" [source]="source" (custom)="onCustom($event)">
    </ng2-smart-table>
  </nb-card-body>
</nb-card>